#content {
	border-radius: 5px;
    box-shadow: 3px 3px 1px #888888;
}
.parallax { 
    /* The image used */
    background-image: url("./img/banner.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}